{% extends 'base.html' %}

{% block pageContent %}
<div class="row">
    <!-- side image -->
    <div class="col-lg-3 side-image">
        <div>
            <p class="landing-motto">Will You accept this challange?</p>
        </div>
    </div>
    <!-- login form -->
    <div class="col-lg-offset-1 col-lg-6 fixed-position">
        <div class="login-logo">Signin</div>
        <div class="spacer-small"></div>
            <div class="spacer-small"></div>
            <form class="form-horizontal" method="POST" action="{% url 'signin' %}">
                {% csrf_token %}
                    <div class="form-group">
                        <label for="email" class="col-md-4 control-label">{{form.username.label_tag}}</label>

                        <div class="col-md-6">
                            <input id="email" placeholder="Username" type="text" class="form-control input-decorator" name="username" required autofocus>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-md-4 control-label">{{form.password.label_tag}}</label>

                        <div class="col-md-6">
                            <input  placeholder="Password" type="password" class="form-control input-decorator" name="password" required>
                        </div>
                    </div>

                    <div class="spacer-small" ></div>
                    <div class="form-group">
                        <div class="col-md-8 col-md-offset-5">
                            <button type="submit" class="btn login-button">
                                Login
                            </button>
                            <span class="ornament">or</span>
                            <a class="switch-sign-method" href={% url 'signup' %} > Signup</a>
                        </div>
                    </div>
                </form>
    </div>
</div>
{% endblock %}

